.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 2rem;
  background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.countSection {
  height: 50%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countSection h4 {
  font-size: 2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 10rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.body {
  height: 100vh;
  width: 100%;
  background-color: #7579FF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.adviceChart {
  height: 80%;
  width: 80%;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.chartTitle {
  height: 4rem;
  width: 100%;
  background-color: #B224EF;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chartTitle h1 {
  margin: 0 0 0 2rem;
  color: #fff;
  font-size: 1.2rem;
}

.chartContent {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}

.col1, .col2, .col3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-width: 0px 1px 1px 0px;
  border-color: #C4C4C4;
  border-style: solid;
}

.col1 {
  width: 10%;
}

.col2 {
  width: 30%;
}

.col3 {
  width: 60%;
  border-width: 0px 0px 1px 0px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
